
/* Mobile s */
@media only screen and (max-width: 374px) and (min-width: 320px) {}

/* mobile M */
@media only screen and (max-width: 424px) and (min-width: 375px) {
    .top_head_wrapper {
        display: flex;
        justify-content: space-between;
        align-content: space-around;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .btn_sec {
        display: flex;
        justify-content: space-evenly;
    } 
    
    .cmn_btn {
        padding: 10px 5px;
        border-radius: 50px;
        margin-left: 3px;
        font-size: 11px;
    }

    .navbar-toggler {
        display: block;
        display: none;
    }
    .top_head_button {
        padding: 10px 0px;
    }
    .top_logo{
       width: 100%;
       text-align: center;
    } 

    .top_head_button{
        width: 100%;
    }

    .top_social_icon {
        padding: 10px 0px;
        width: 100%;
        text-align: center;
    }

    .offcanvas-header .btn-close {
        margin-right: 20px;
        margin-top: 5px;
    }

    .reminder {
        bottom: 0px;
        left: 145px;
        width: 230px;
    }

    .reminder_body {
        margin: 0px 20px;
    }

    .countdown_number {
        font-size: 20px;
}

.reminder_header h2, .reminder_footer h2 {
    font-size: 15px;
    padding-top: 5px;
}

/* banner sectio responsive start */

.banner_left_container {
    margin-top: 40px;
}

.banner_middle_text h2 {
    font-size: 32px;
}

.banner_rating {
    margin-right: 0px;
}

.button_rating {
    padding: 2px;
}

.image_wrapper {
    margin-bottom: 0px;
    margin-left: 5px;
}

.image_wrapper {
    margin-top: 10px;
    margin-left: 2px;
}

.up_image img {
    max-width: 200px;
}

.down_image img {
    max-width: 200px;
}

.down_image {
    top: 25%;
    left: 45%;
}

/* banner section end */

/* About us start */

.about_us {
    margin-top: 5px;
    margin-bottom: 20px;
}

.about_title h2 {
    margin-top: 20px;
}

.about_heading h2 {
    font-size: 25px;
}

.about_title,
.about_heading 
{
    margin-bottom: 10px;
}
.about_peragraph{
    margin-bottom: 10px;
}
.about_peragraph p {
    font-size: 18px;
}

.about_right {
    padding-left: 0px;
}

.about_right {
    text-align: center;
}
/* about us end */

/* Counter section start */

.counter_heading {
    padding-top: 20px;
}

.counter_heading {
    margin-top: 10px;
}

.wrapper_text {
    bottom: -88px;
}

.wrapbb {
    margin: 0px 0px;
    text-align: center;
    margin-bottom: 10px;
}

.wrapper_text p {
    font-size: 20px;
    padding: 8px 20px;
}

/* counter section end */

/* age specific start */
.specification_content_text {
    padding-top: 0px;
    height: auto;
}

.age_specification_top {
    padding-bottom: 5px;
}

.age_specification_content {
    margin: 10px 0px;
}

.auto_height {
    height: 215px;
}

.age_specification {
    margin-top: 80px;
    margin-bottom: 0px;
}

.school_table_head h2 {
    font-size: 18px;
}

.school_table_head {
    margin: 15px 0px;
}

.school_table_content {
    margin: 0px 10px;
}

.school_timing_note p {
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 15px;
}

.school_timing_btn {
    margin-bottom: 0px;
}
/* age specific end */

/* news media start */
.news_media {
    margin: 40px 0px;
}

.left_news_media {
    height: 300px;
    width: 300px;
}

.media_text {
    margin: 10px 0px;
}
/* news media end */

/* CONTUCT US PAGE */

.hero_section {
    height: 270px !important;
}
.hero_section_overlay p {
    top: 35%;
    left: 30%;
    transform: translate(-35%, -30%);
    font-size: 18px;
}
.contact_content {
    padding: 40px 0px;
}

/* LOGIN PAGE START */
.login_body {
    height: 200vh;
}

.login_card {
    width: 330PX;
}

/* ABOUT-US PAGE */
.mission_title h2 {
    font-size: 25px;
}

.flipcard {
    margin: 15px 0px;
}

}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .school_logo img {
        height: 100px;
        width: 250px;
    }
    .cmn_btn {
        font-size: 12px;
    }

    .top_logo {
        width: 30%;
        padding: 20px 0px;
    }

    .top_head_button {
        width: 50%;
    }


    .top_social_icon {
        padding: 50px 0px;
        width: 20%;
    }

    .banner_rating {
        margin-right: -32px;
        padding-top: 13px;
    }

    .about_heading h2 {
        font-size: 25px;
    }

    .nav-item {
        margin-right: 8px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 10px;
    }

    .image_wrapper {
        margin-top: 93px;
        margin-left: 40px;
    }

    .up_image img {
        max-width: 270px;
    }

    .down_image {
        position: absolute;
        top: 50%;
        left: 40%;
    }

    .down_image img {
        max-width: 270px;
    }

    .banner_middle_text h2 {
        font-size: 48px;
    }

    .auto_height {
        height: 150px;
    }

    .specification_content_text h2 {
        font-size: 15px;
    }

    .specification_content_text {
        margin: 0px 10px;
        height: auto
    }

    .left_news_media {
        height: 300px;
        width: 300px;
    }

    .hero_section_overlay p {
        top: 50%;
        left: 30%;
    }

    .hero_section_overlay p {
        left: 30%;
    }

    .principale_massage_title h2::before {
        left: 450px;
    }

    .principale_massage_title h2::after {
        right: 430px;
    }

    .login_body {
        position: relative;
        height: 190vh;
    }

    }

    @media only screen and (max-width: 1399px) and (min-width: 1200px) {

        .school_logo img {
            height: 100px;
            width: 250px;
        }
        .cmn_btn {
            font-size: 12px;
        }
    
        .top_logo {
            width: 30%;
            padding: 20px 0px;
        }
    
        .top_head_button {
            width: 50%;
        }
    
    
        .top_social_icon {
            padding: 50px 0px;
            width: 20%;
        }
    
        .banner_rating {
            margin-right: -32px;
            padding-top: 13px;
        }
    
        .about_heading h2 {
            font-size: 25px;
        }
    
        .nav-item {
            margin-right: 8px;
        }
    
        .navbar-expand-lg .navbar-nav .nav-link {
            font-size: 10px;
        }
    
        .image_wrapper {
            margin-top: 93px;
            margin-left: 40px;
        }
    
        .up_image img {
            max-width: 270px;
        }
    
        .down_image {
            position: absolute;
            top: 50%;
            left: 40%;
        }
    
        .down_image img {
            max-width: 270px;
        }
    
        .banner_middle_text h2 {
            font-size: 48px;
        }
    
        .auto_height {
            height: 200px;
        }
    
        .specification_content_text h2 {
            font-size: 15px;
        }
    
        .specification_content_text {
            margin: 0px 10px;
            height: auto
        }
    
        .left_news_media {
            height: 300px;
            width: 300px;
        }
    
        .hero_section_overlay p {
            top: 50%;
            left: 30%;
        }
    
        .hero_section_overlay p {
            left: 30%;
        }
    
        .principale_massage_title h2::before {
            left: 450px;
        }
    
        .principale_massage_title h2::after {
            right: 430px;
        }
    
        .login_body {
            position: relative;
            height: 190vh;
        }
    
        }