/* google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');


/*==============
    COMMON CSS
===============*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}


a {
    text-decoration: none;
    display: inline-block;

}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.clr {
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--sea-color);
}

/* common css end */

:root {
    --blue-color: #050C9C;
    --white-color: #ffffff;
    --orange-color: #F48020;
    --black-color: #000000;
    --lightblue-color: #3572EF;
    --sea-color: #3ABEF9;
    --space--color: #A7E6FF;
}

/* ===============================
  header start
  ================================= */
.top_heading_left {}

.school_logo img {
    height: 100px;
    width: 325px;
}

.top_head_wrapper {
    display: flex;
    justify-content: space-between;
}

.btn_sec {
    display: flex;
}

.social_icon_list a {
    margin-left: 5px;
}

.cmn_btn {
    padding: 7px 10px;
    border: 1px solid var(--black-color);
    color: var(--white-color);
    background-color: var(--blue-color);
    border-radius: 50px;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.cmn_btn_hov {
    padding: 15px 20px;
    border: 1px solid var(--black-color);
    color: var(--white-color);
    background-color: var(--blue-color);
    border-radius: 50px;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .3s linear;
}

.cmn_btn_hov:hover {
    background-color: var(--orange-color);
}

.banner_rating i {
    color: #F48020;
}


.social_icon_list i {
    margin-left: 10px;
    color: var(--blue-color);
}

.arrow-btn {
    padding: 0px 5px;
}

.top_head_button {
    padding: 50px 0px;
    width: 52%;
}

.top_social_icon {
    padding: 50px 0px;
    width: 13%;
}

.top_logo {
    width: 45%;
    padding: 20px 0px;
}

.navbar-expand {
    background-color: #4c2c7f !important;
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
    text-align: center;
    margin-left: 80px;
}

.new_nav {
    background-color: var(--blue-color);
}

.nav-item .nav-link,
.active {
    color: var(--white-color) !important;
    text-transform: uppercase;
    font-weight: 600;

}

.nav-item {
    margin-right: 6px;
}

.offcanvas_btn {
    font-size: 20px;
    color: var(--white-color);
    margin-left: 15px;

}

.dropdown-menu {
    padding: 5px 8px !important;
    margin-bottom: 10px !important;

}

.dropdown-menu li {
    border-bottom: 1px solid var(--blue-color);
    padding: 10px 0px;
    /* margin-bottom: 20px; */
}

.dropdown-menu li a {
    font-size: 20px;
    color: var(--blue-color);
    transition: .3s linear;
    font-weight: 600;
}

.dropdown-menu li a:hover {
    color: var(--orange-color);
}

.offcanvas-backdrop.show {
    opacity: 0.90 !important;
}

button.btn-close {
    border: 3px solid black;
    border-radius: 20px;
    font-weight: 800;
}


/* =======================
      sidebar menu start
=========================== */

.sidebar_menu {
    margin-top: 40px;
}

.offcanvas_main_menu li {
    list-style: none;
    position: relative;
}

.offcanvas_main_menu li a {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
    color: #000000;
    transition: .3s linear;
}

.offcanvas_main_menu li a:hover {
    color: var(--blue-color);
}

.offcanvas_main_menu li span.menu-expand {
    position: absolute;
    right: 0;
}


.sidebar_btn {
    margin: 20px 0px;
}

.contact_icon i {
    padding: 5px 5px 10px 0px;
    color: var(--orange-color);
    font-size: 24px;
}

.icon_number {
    display: flex;
}

.contact_text {
    margin-left: 5px;
}

.contact_text a {
    color: red;
}

.contact_wrapper li {
    margin: 10px 0px;
}

.contact_text p {
    color: var(--blue-color);
}

.side_btn {
    padding: 15px 20px;
    border: 1px solid var(--black-color);
    color: var(--white-color);
    background-color: var(--blue-color);
    border-radius: 50px;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .3s linear;
}

/* =======================
      sidebar menu end
=========================== */

/* ===========================
      Banner start
 ============================== */

.banner_section {
    background-repeat: no-repeat !important;
    background-position-x: right !important;
    background-position-y: top !important;
    background-size: contain !important;
    height: 100VH !important;
    /* position: relative; */
}

.banner_left_container {
    margin-top: 130px;
}

.banner_middle_text {
    width: 100%;
    margin: 20px 0px;
}

.banner_middle_text h2 {
    font-size: 64px;
    letter-spacing: -1;
    font-size: 600;
    color: var(--blue-color);
}

.banner_paragraph {
    margin: 20px 0px;
}

.banner_top_text p {
    color: var(--black-color);
    font-weight: 600;
}

.banner_rating {
    margin-right: 150px;
}

.banner_paragraph p {
    font-size: 20px;
    text-align: justify;
}

.button_rating {
    display: flex;
    justify-content: space-between;
}

.button_rating {
    padding: 30px;
    border-bottom: 1px solid #ebebeb;
}



.banner_phone_number {
    display: flex;
    margin: 20px 0px;
}

.banner_icon {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--blue-color);

}


.banner_icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.icon_number p {
    margin-top: 10px;
    padding-left: 10px;
    color: var(--blue-color);
    font-size: 18px;
}




.up_image img {
    max-width: 350px;
    border-radius: 24px;
}

.up_image img:hover {
    transform: translate(1px, -1px) rotate(1deg);
    cursor: pointer;
}

.down_image img {
    max-width: 350px;
    border-radius: 24px;
}

.down_image img:hover {
    transform: translate(1px, -1px) rotate(1deg);
    cursor: pointer;
}

.image_wrapper {
    margin-top: 250px;
    margin-left: 90px;
}

.image_wrapper {
    position: relative;
}

.down_image {
    position: absolute;
    top: 50%;
    left: 50%;
}

/* ===========================
      Banner End
=============================== */


/* ===========================
      About section start
=============================== */
.about_us {
    margin-top: 200px;
    margin-bottom: 50px;
}

.about_title {
    margin-bottom: 30px;
}

.about_title h2 {
    font-size: 20px;
    color: var(--black-color);
    font-weight: 600;
}

.about_heading {
    margin-bottom: 30px;
}

.about_heading h2 {
    font-size: 48px;
    color: var(--blue-color);
    letter-spacing: -1;
    font-weight: 800;
}

.about_peragraph {
    margin-bottom: 40px;
}

.about_peragraph p {
    font-size: 20px;
    text-align: justify;
}

.transparent_btn {
    padding: 15px 20px;
    border: 1px solid var(--blue-color);
    color: var(--lightblue-color);
    background-color: transparent;
    border-radius: 50px;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .3s linear;
}

.about_right {
    padding-left: 60px;
}

.about_left_image img {
    cursor: pointer;
    margin-top: 100px;
}


.about_left_image img:hover {
    transform: translate(10px, -10px) rotate(5deg);
}

/* ===========================
      About section end
=============================== */

/* =============================
      counter section star
================================ */

.counter_section {
    background-size: cover !important;
    background-repeat: no-repeat !;
    width: 100% !important;
    background-position: center !important;
    background-attachment: fixed;
    z-index: 999999;
    object-fit: scale-down;

}

.background_overlay {
    background-color: var(--black-color);
    opacity: 0.7;
    transition: background;
    width: 100%;

}

.counter_heading {
    margin-top: 100px;
}

.counter_heading h2 {
    position: relative;
    padding-bottom: 10px;
}

.counter_heading h2::before {
    position: absolute;
    bottom: 0;
    content: " ";
    width: 50px;
    height: 3px;
    background-color: var(--orange-color);
}

.counter_heading h2::after {
    position: absolute;
    margin-right: 10px;
    bottom: 0;
    content: " ";
    width: 50px;
    height: 3px;
    background-color: var(--blue-color);
    left: 60px;
}

.counter_heading p {
    color: var(--white-color);
    font-size: 18px;
}

.counter_heading {
    padding-top: 60px;
}

.counter_sec {
    margin-bottom: 100px;
}

.counter_sec {
    text-align: center;
}

.counter_sec i {
    font-size: 40px;
    color: var(--white-color);


}

.counter_sec span {
    font-size: 30px;
    color: var(--orange-color);
    font-weight: 800;
    padding: 20px 0px;
}

.counter_heading h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--orange-color);
}

.counter_heading h2 {
    font-size: 25px;
    font-weight: 800;
    color: var(--white-color);
}

.counter_sec p {
    font-size: 20px;
    font-weight: 800;
}

.horigontal_column{
    background-color: var(--orange-color);
}

.wrapper_text p{
    font-size: 30px;
    color: var(--white-color);
    padding: 20px 20px;
}

.wrapper_btn{
    padding: 20px 20px;
}

.counter_section{
    position: relative;
}

.wrapper_text{
    position: absolute;
    width: 90%;
    bottom: -51px;
    z-index: -1;
    background-color: var(--orange-color);
}

.box_btn{
    padding: 15px 20px;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;

}

.wrapbb{
    margin: 20px 0px;
}

.wrap_pera p{
    margin-top: 10px;
    font-weight: bold;
    color: #ffffff;
}

/* ================================
      Counter section end
=================================== */



/* ==================================
     Age specification start 
=====================================*/

.age_specification_top{
    text-align: center;
    margin: 50px 0px;
    padding-bottom: 50px;
}

.age_specification_top h3{
    color: var(--orange-color);
    font-weight: 600;
}

.age_specification_top h2{
    color: var(--sea-color);
    font-size: 30px;
    font-weight: 800;
}

.age_specification{
    margin: 100px 0px;
   
}

.age_specification_content{
    border: 1px solid var(--space--color);
    border-radius: 24px;
    position: relative;
}
.specification_content_image{
    padding-right: 30px;
}
.specification_content_image img {
    position: absolute;
    top:-50px;
    left: 0;
    margin-top: 10px;
    padding-right: 30px;
    transform: translate(1px, -1px) rotate(1deg);
    z-index: 999999;
}

.specification_content_image img:hover{
    transform: translate(5px, -5px) rotate(5deg);
}

.specification_content_text{
padding-top: 30px;
text-align: center;
margin: 0px 30px;
height: 585px;
}

.specification_content_text h2{
    text-transform: uppercase;
    font-weight: 600;
    color: var(--orange-color);
}
.specification_content_text p{
    text-align: center;
    text-align: justify;
    font-size: 20px;
}

.specification_btn{
    text-align: center;
    padding:30px 0px ;
}
.auto_height{
    height: 250px;
}

.without_style_btn{
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    transition: .3s linear;
    color: var(--orange-color);
}

.without_style_btn span{
    padding: 0px 5px;
}

.without_style_btn:hover{
    color: var(--space--color);
}
/* ================================
           Age section end
 ================================== */


 /*===================================
            School timing start
 ===================================== */

 .school_timing h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--blue-color);
    font-weight: 800;
 }

 .school_timing_table_wrapper{
    border: 1px solid var(--sea-color);
    border-radius: 24px;
    margin: 30px 0px;
 }

 .school_table_content{
    margin: 0px 30px;
 }

 .school_table_head{
    margin: 40px 0px;
    
 }

 .school_table_head h2{
  font-weight: 600;
  color: var(--sea-color);

 }

 .custom_table_header{
    background-color: var(--blue-color);
 }

 .td_head{
    background-color: var(--blue-color) !important;
    color: var(--white-color) !important;
 }

 .table-bordered{
    border: 1px solid var(--space--color) !important;
 }

 .school_timing_note p{
    margin-bottom: 30px;
    margin-left: 30px;
    font-size: 20px;
    
 }

 .school_timing_btn {
    margin-bottom: 30px;
 }

 /*====================================
  School Timing end 
  =====================================*/


  /*=====================================
   news and media section start 
   ======================================*/
   .news_media{
    margin: 100px 0px;
   }
  .left_news_media{
    height: 500px;
    width: 500px;
    background-color: var(--space--color);
    position: relative;
    border-radius: 15px;
  }

  .slider_content img{
    position: absolute;
    bottom: 20px;
    left: 20px;
    border: 1px solid var(--sea-color);
    border-radius: 15px;
}


  .slider_content{
    height:100%;
    width: 500px;
    /* border: 1px solid var(--sea-color); */
  }

  .floating_blog .counter_heading h2,
  .media .counter_heading h2,
  .form_content .counter_heading h2
  {
    color: var(--blue-color);
  }

  .floating_blog .counter_heading,
  .media .counter_heading,
  .form_content .counter_heading
  {
    margin-top: 0px;
    padding-top: 0px;
  }

  .floating_blog{
    margin: 30px 0px;
  }

  .content_list li,
  .media_image_content
  {
    margin: 15px 0px;
  }

  .content_list  p,
  .media_text P
  {
    text-decoration: underline;
    font-size: 18px;
  }

  .form_box{
    margin: 30px 0px;
  }

  .form_box .form-label,
  .form_box option
  {
    font-size: 12px;
    font-weight: 600;
    color: #000000;
  }

  .from_btn button{
    background-color: var(--blue-color);
  }

  /*=======================================
        news and media section end 
  =========================================*/

  /*=======================================
       footer seection start 
   ========================================*/

  .footer_section{
    background-color: var(--blue-color);
  }

  .footer_logo {
    margin: 30px 0px;
  }

  .footer_icon{
    margin: 30px 0px;
  }
  .footer_icon a{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--white-color);
    position: relative;
  }

  .footer_icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .footer_singel_part_title{
   margin-top: 30px;
   margin-bottom: 10px;
  }

  .footer_singel_part_title h5{
    color: var(--white-color);
  }

  .footer_singel_link{
   color: var(--white-color);
  }
  /* =================================
    footer section end
==================================== */
